* {
    margin: 0;
}

.cart {
    background-color: #EDEDED;
    padding: 50px;
    width: 80%;
}

.cart-title {
    color: #171717;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 20px;
}

.cart-title p {
    font-size: 25px;
}

.cart-title h1 {
    margin: 0;
    text-align: start;
}

.cart .cart-product {
    display: flex;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 20px;
    width: 50%;
    justify-content: space-between;
}

.cart-product:hover{
    background-color: #DA00370D;
}

.cart-product img {
    width: 100px;
    margin: 10px;
}

.cart-product-primary {
    display: flex;
}

.cart-product-data {
    color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.cart-product-count {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #DA0037;
}

.cart-product-price {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.cart-product-price p{
    background-color: #DA0037;
    color: #ededed;
    padding: 4px 10px;
    border-radius: 25px;
    transform: rotate(10deg);
}

.cart-product-delete {
    display: flex;
    align-items: center;
}

.cart-product-delete button {
    border: 2px solid #DA0037;
    color: #DA0037;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
    width: 40px;
    height: 40px;
}

.cart-product-title {
    font-weight: bold;
    font-size: 20px
}

.cart-product-id {
    color: #444444;
    font-size: 15px;
}

.cart-product-remove {
    text-decoration: none;
    color: #444444;
    padding: 3px 8px;
    border-radius: 3px;
    transition: background-color 0.15s, color 0.15s;
}

.cart-product-remove:hover {
    background-color: #444444;
    color: #EDEDED;
}

.cart-footer {
    text-align: start;
    padding-top: 25px;
}

.cart-footer a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #DA0037;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.cart-footer a:hover {
    border-bottom: 2px solid #DA0037;
}

.cart-summary {
    width: 20%;
    padding: 50px;
    background-color: #444444;
}

.cart-summary .cart-title {
    color: #EDEDED;

}

.cart-summary .cart-title h2 {
    font-size: 32px;
}

.cart-summary-details {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
}

.cart-summary-details p {
    color: #EDEDED;
    text-align: initial;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.cart-summary-details h3 {
    color: #EDEDED;
    text-align: initial;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-summary-details input {
    font-size: 20px;
    font-weight: bold;
    color: #171717;
    border-radius: 3px;
    border: 1px solid #EDEDED;
    padding: 5px 10px;
}

.cart-summary-details input:focus {
    outline: none;
    border: 1px solid #DA0037;
}

.cart-summary-details button {
    margin-top: 10px;
    border: 1px solid #171717;
    border-radius: 3px;
    background-color: #171717;
    color: #EDEDED;
    padding: 10px 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.15s, border 0.15s;
}

.cart-summary-details button:hover {
    background-color: #DA0037;
    border: 1px solid #DA0037;
    color: #EDEDED;
    cursor: pointer;
}

.cart-summary-total {
    display: flex;
    justify-content: space-between;
    color: #EDEDED;
    margin: 20px 0;
}

.cart-summary-total h3 {
    font-size: 30px;
}

.cart-summary-footer button {
    width: 100%;
    color: #EDEDED;
    background-color: #DA0037;
    border: 1px solid #DA0037;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.15s, border 0.15s;
}

.cart-summary-footer button:hover{
    background-color: #b4002d;
    border: 1px solid #b4002d;
    cursor: pointer;
}
