* {
    font-family: Roboto;
}

.counter {
    width: 50%;
    border-radius: 20px;
    padding: 10px 20px 20px 20px;
}

.counter .quantity {
    color: #171717;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons .counter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    color: #EDEDED;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.counter-button:hover {
    background-color: #DA0037;
    color: #EDEDED;
    cursor: pointer;
}

.counter .btnAdd {
    color: #EDEDED;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #DA0037;
    transition: background-color 0.15s border-color 0.15s;
}

.counter .btnAdd:hover {
    background-color: #b4002d;
    border-color: #b4002d;
    cursor: pointer;
}