.itemDetail {
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
    border: none;
    padding: 20px 20px 20px 0;
    box-shadow: 0px 0px 4px;
    height: 60%;
}

.itemDetail .picture {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemDetail .picture img {
    width: 320px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid #444444;
    padding-left: 15px;
    width: 30%;
}

.stock {
    background-color: #171717;
    color: #EDEDED;
    margin: 5px 0;
    padding: 10px 20px;
    width: fit-content;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.details .details-description {
    text-align: left;
    margin: 30px 0;
}

.details h1 {
    text-align: left;
    margin: 0;
}

.details .details-price {
    text-align: left;
    font-weight: normal;
    font-size: 35px;
}

.details button {
    font-size: 18px;
    padding: 10px 15px;
    background-color: #DA0037;
    color: #EDEDED;
    border: none;
    border-radius: 3px;
}

.details-actions {
    text-align: left;
    height: 10%;
}