@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto;
}

.header {
    background-color: #171717;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar {
    display: flex;
    margin-right: 50px;
}

.navBar li {
    list-style: none;
}

.navBar li a {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #EDEDED;
    margin: 0px 10px;
    padding: 5px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: color 0.15s, border 0.15s;
}

.navBar li a:hover {
    color: #DA0037;
    border-top: 2px solid #DA0037;
    border-bottom: 2px solid #DA0037;
}

.header img {
    width: 250px;
}

.Cart {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.Cart img {
    width: 40px;
}

.Cart img:hover {
    cursor: pointer;
}

.Cart p {
    color: #DA0037;
    font-weight: bold;
    font-size: 20px;
}